.dropzone {
  border: 1px dashed lightgray;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.accepted-file {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-wrapper {
  height: 48px;
  width: 48px;
  margin-right: 16px;
  padding: 8px;
}

.preview {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 16px;
}
